[user]
	name = Josh Beckman
	email = email@andjosh.com
[core]
	editor = vim
	commitGraph = true
[credential]
	helper = 
	helper = store --file /opt/dev/var/private/git_credential_store
[alias]
    ada = add -A
    add = add -v
    ali = config --get-regexp alias
    br = branch
    browse = !open $(git remote get-url origin | sed s!git@!https://! | sed s!com:!com/! | sed s!\\\\.git!!)
    browseissues = !open $(git remote get-url origin | sed s!git@!https://! | sed s!com:!com/! | sed s!\\\\.git!!)/issues
    browselines = !open $(git remote get-url origin | sed s!git@!https://! | sed s!com:!com/! | sed s!\\\\.git!!)/pipelines
    browsemerges = !open $(git remote get-url origin | sed s!git@!https://! | sed s!com:!com/! | sed s!\\\\.git!!)/merge_requests
    browsepulls = !open $(git remote get-url origin | sed s!git@!https://! | sed s!com:!com/! | sed s!\\\\.git!!)/pulls
    brs = show-branch --sha1-name
    ca = commit --amend
    cac = commit --amend -c
    cb = symbolic-ref --short HEAD      # get current branch name, simply
    ci = commit -a --verbose
    cm = commit -am
    co = checkout
    fc = log --all --grep
    fix = "!f() { vim -p `git diff --name-only`; }; f" # via https://gist.github.com/jacobvosmaer/3187346
    fup = push --set-upstream origin HEAD
    get = fetch --all
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    ls = ls-files
    lsv = log --pretty=format:'%C(yellow)%h %C(cyan)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
    lu = for-each-ref --sort=-committerdate --format='%(committerdate:relative)%09%(refname:short)' refs/heads
    prose = log --pretty=format:%s
    pu = pull origin 
    rearrange = "!git rebase -i $(git merge-base HEAD @{u})"
    rev = merge --no-ff --no-commit
    s = status -sb
    st = status
    tree = log --all --graph --decorate --oneline
    up = push origin 
    uptags = !git push origin && git push origin --tags
    web = instaweb
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
[init]
	templatedir = ~/.git-templates
[github]
	user = andjosh
[ghi]
	token = !security find-internet-password -a andjosh -s github.com -l 'ghi token' -w
[push]
	default = simple
[pull]
        rebase = false
[rerere]
	enabled = true
[gitlab]
	url = https://gitlab.com
[merge]
	tool = vimdiff
[commit]
        template = ~/.git-templates/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
